nav-bar{
    position: sticky;
    top: 0;
    display: inline-flex;
    list-style: none;
    font-size: 3px;
    background-color: blueviolet;
    color:#fff ;
    text-emphasis: none;
    font-family: sans-serif;
    text-decoration: none;
}
page{
    margin: 10px  10px;
    margin: left 50px; ;
}
table, td{
    color: white;

}
hobbies{
    color: white;
    font-size: 50px;
}
nav-bar li a :hover:active{
    color: aqua;
}
nav-bar li a:hover{
    color: yellow;
    transition: 0.1s;
    text-decoration: none;

}
sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
menu-btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 20px;
    z-index: 1;
}