body{
    background-color: blueviolet;
    color: aqua;
    padding: 0;
    margin: 0;

}
table{
    text-align: center;
}
h4{
photo;border-bottom: 0cm;
}


p1 {
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: brown;
}
h4{
    background-color: bisque;
    min-height: 20px;
    font-weight: 100px;
}